body {
    background-color: #f0eff2;
}

p {
    margin: 0;
}

.status {
    padding: 5px 20px;
    border-radius: 30px;
    background: #c8c8c8;
    color: #696969;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.date {
    margin-top: 20px;
    font-size: 26px;
}

.clock {
    margin-top: 10px;
    font-size: 60px;
    font-weight: bold;
}

.button-position {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.msg_index {
    margin-top: 50px;
    font-weight: bold;
}

.list {
    margin: 0 auto;
    width: 100%;
}

.calendar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.calendar-center {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.calendar-link {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: bold;
}

.attendance-list-table {
    width: 100%;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.attendance-list-table th,
.attendance-list-table td {
    width: 16.66%;
    text-align: center;
    padding: 10px 20px;
    color: #737373;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.attendance-list-table th {
    font-weight: 600;
}

.attendance-list-table tr:first-child th {
    border-top: none;
}

.attendance-list-table tr:last-child td {
    border-bottom: none;
}

.button_detail {
    padding: 6px 14px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.attendance-detail-table {
    width: 100%;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.attendance-detail-table th {
    width: 30%;
    text-align: left;
    padding: 30px 40px;
    color: #737373;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 600;
}

.attendance-detail-table td {
    text-align: left;
    padding: 30px 20px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.attendance-detail-table tr:first-child th {
    border-top: none;
}

.attendance-detail-table tr:last-child td {
    border-bottom: none;
}

.input_texts {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="text"] {
    text-align: center;
    padding: 10px;
    width: 20%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

textarea {
    height: 100px;
    padding: 10px;
    width: 80%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    appearance: none;
}

input[type="radio"] {
    display: none;
}

.toggle_buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    gap: 50px;
    width: auto;
}

.toggle_buttons label {
    padding: 10px 0;
    cursor: pointer;
}

.toggle_buttons label a {
    color: #000;
    text-decoration: none;
    display: block;
}

#tab-wait:checked ~ .toggle_buttons label[for="tab-wait"] a,
#tab-approve:checked ~ .toggle_buttons label[for="tab-approve"] a {
    font-weight: bold;
}

.toggle_line {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

/* 一覧（初期は非表示） */
.toggle_contents .list {
    display: none;
}

/* 表示切り替え */
#tab-wait:checked ~ .toggle_contents .wait {
    display: block;
}

#tab-approve:checked ~ .toggle_contents .approve {
    display: block;
}

.note {
    white-space: pre-wrap;
}

.msg_detail {
    color: #f87779;
    font-weight: bold;
}
